name: bottom_sheet_stateful
description: This widget is implemented smooth stateful bottom sheet dragable with peek height and full height
version: 0.1.1
author: Hamzah Tossaro<hamzah.tossaro@gmail.com>
homepage: https://github.com/tossaro/bottom_sheet_stateful

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: